* {
    margin: 0;
    padding: 0;
}
#title {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
} 
#caption {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 10%;
} 
image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
fieldset {
    border: 50px;
}
body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
.group:before, .group:after {
    display: table;
}
.group:after {
    clear: both;
}
fieldset.group .field {
    float:  left;
    margin-right: 1em;
}
button {
    font-family: sans-serif;
    font-size: 1em;
    color: #59429d;
    border-radius: 50px;
}
.button, select{
    cursor: pointer;
}
