* {
    margin: 10;
    padding: 10;
}
#title {
    font-family: sans-serif;
    color: #0b615d;
    margin-left: center;
} 
#caption {
    font-family: Arial, Helvetica, serif;
    color: #19610b;
    margin-left: center;
} 
.image {
  display: center;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  width: 25%;
}
body{
    background-color: #ffffff;
    font-family: "Times New Roman, Times, serif";
    font-size: 1em;
    color: #000000;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%  
}
button {
    font-family: sans-serif;
    font-size: 2em;
    color: #000000;
    border-radius: 10px;
}
.button, select{
    cursor: pointer;
}
.fieldset, field {
    float:  left;
    margin-right: 1em;
}
.field {
    width: 700px;
    padding: 10px;
    border: 10px solid rgb(15, 128, 0);
    margin: 10px;
}
.group input[type="text"], .group input[type="email"], .group select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #429a9d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.group select option {
    padding-right: 1em;
}
.group input:focus, .group select:focus, .group textarea:focus {
    background: #E0E0F8;
}
.group:before, .group:after {
    display: table;
}
.group:after {
    clear: both;
}
.group {
    margin-bottom: 1em;
}
.group label {
    margin-bottom: 1em;
    color: #000000;
    display: block;
}
.logo {
display: center;
margin-left: 10%;
margin-right: 10%;
width: 5%;
}
