* {
    margin: 10;
    padding: 10;
}
.container {
    height: 10em;
    display: flex;
    align-self: center;
    justify-content: center;
}
.form-horizontal {
    font-family: "Times New Roman, Times, serif";
    color: #000000;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
}
.body{
    background-color: #ffffff;
    font-family: "Times New Roman, Times, serif";
    font-size: 1em;
    color: #000000;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%  
}
.col-md-4 {
    background-color: #ffffff;
    font-family: "Times New Roman, Times, serif";
    font-size: 1em;
    color: #000000;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%      
}
.control-label {
    height: 1em;
    display: flex;
    align-self: left;
    justify-content: left;
}
.fieldset, field {
    float:  left;
    margin-right: 1em;
}
.form-group input[type="text"], .group input[type="email"], .group input[type="mensagem"], .group select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #429a9d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
.form-group select option {
    padding-right: 1em;
}
.form-group input:focus, .group select:focus, .group textarea:focus {
    background: #E0E0F8;
}
.form-group:before, .group:after {
    display: table;
}
.form-group:after {
    clear: both;
}
.logo {
    display: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 35%;
}